*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(203, 152, 252);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

div#container{
padding: 360px;


}

