body {
  background-color: rgb(115, 115, 255);
}
h1 {
  padding: 15px;
  text-align: center;
  padding-top: 0px;
}

section#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div#content {
  background: white;
  width: 360px;
  height: 240px;
  border-radius: 15px;
}

input#numero1{
  margin-left: 10px;
  border-radius: 6px;
}

div#res{
  font-size: 20pt;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 50px;
  
}